<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADFGX_Cloud_Solver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <ADFGX_Cloud_Solver.Properties.Settings>
            <setting name="ContributerName" serializeAs="String">
                <value>UrRedditName</value>
            </setting>
            <setting name="CPULevel" serializeAs="String">
                <value>LOW</value>
            </setting>
        </ADFGX_Cloud_Solver.Properties.Settings>
    </userSettings>
</configuration>
