################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADFGX_Cloud_Solver/bin/Debug/ADFGX_Cloud_Solver.exe.config
