################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ADFGX_Cloud_Solver/bin/Debug/ADFGX_Cloud_Solver.exe.config
/ADFGX_Cloud_Solver/bin/Debug/ADFGX_Cloud_Solver.pdb
/ADFGX_Cloud_Solver/bin/Debug/ADFGX_Cloud_Solver.vshost.exe
/ADFGX_Cloud_Solver/bin/Debug/ADFGX_Cloud_Solver.vshost.exe.config
/ADFGX_Cloud_Solver/bin/Release/ADFGX_Cloud_Solver.vshost.exe.manifest
/ADFGX_Cloud_Solver/bin/Release/ADFGX_Cloud_Solver.vshost.exe.config
/ADFGX_Cloud_Solver/bin/Release/ADFGX_Cloud_Solver.vshost.exe
/ADFGX_Cloud_Solver/bin/Release/ADFGX_Cloud_Solver.pdb
/ADFGX_Cloud_Solver/bin/Release/ADFGX_Cloud_Solver.exe.config
/ADFGX_Cloud_Solver/obj
