<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.adfgx_cloud_solver_android.adfgx_cloud_solver_android" android:versionCode="3" android:versionName="3" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="ADFGX_Cloud_Solver_Android"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
	<uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
	<uses-permission android:name="android.permission.DIAGNOSTIC" />
	<uses-permission android:name="android.permission.DUMP" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
</manifest>